<div id="recording-labeler" class="container-fluid px-4">
  <div id="error-message" class="alert alert-danger mb-4"></div>
  <div class="row">
    <div class="col-md-9">
      {% include "components/labeling/labeling-canvas.jinja" %}
      <div id="labeling-timeline"
           hx-get="/labeling/timeline?frame_idx=0&polling=False"
           hx-trigger="load"
           hx-swap="outerHTML"></div>
      <div id="annotations-container"
           hx-get="/labeling/annotations"
           hx-trigger="classes-loaded from:window"
           hx-swap="outerHTML"></div>
    </div>
    <div class="col-md-3 d-flex flex-column gap-3">
      <div id="labeling-settings"
           hx-get="/labeling/settings"
           hx-trigger="load"
           hx-swap="outerHTML"></div>
      <div class="d-flex flex-column h-100"
           hx-get="/labeling/classes"
           hx-trigger="load"
           hx-swap="outerHTML"
           hx-target="this"></div>
    </div>
  </div>
</div>
