<div hx-ext="response-targets" class="container-md" id="labeling">
    <h2>Simulation Labeling</h2>
    <hr>
    <span id="error-message" class="text-danger">{{ error_msg if error_msg else "" }}</span>
    {% if recording %}
        {% include "components/labeler.jinja" %}
    {% else %}
        <h3>Select a recording to start labeling:</h3>
        <br>
        <div class="recording-select d-flex flex-row gap-3">
            <select class="select-recording form-select form-select-lg mb-3"
                    aria-label=".form-select-lg example"
                    onchange="updateButtonState(this)"
                    name="recording_uuid"
                    id="recording-select">
                <option value="">Select a recording...</option>
                {% for recording in local_recordings %}
                    <option value="{{ recording.uuid }}">{{ recording.participant }} - {{ recording.created }}</option>
                {% endfor %}
            </select>
            <button type="submit"
                    class="btn-select-recording btn btn-primary"
                    disabled
                    hx-put="/inference/FastSAM"
                    hx-on::before-request="handleRecordingSelection(event)"
                    hx-on::after-request="startLabeling()">Start Labeling</button>
        </div>
    {% endif %}
</div>
<script>
function updateButtonState(selectElement) {
    if (!selectElement) {
        return;
    }
    document.querySelector('.btn-select-recording').disabled = !selectElement.value;
}

function handleRecordingSelection(event) {
    document.getElementById('error-message').innerHTML = '';
}

function startLabeling() {
    const select = document.getElementById('recording-select');
    console.log(`/labeling?recording_uuid=${select.value}`);
    window.location.href = `/labeling?recording_uuid=${select.value}`;
}

document.addEventListener('DOMContentLoaded', function() {
    const select = document.getElementById('recording-select');
    if (select) {
        updateButtonState(select);
    }
});
</script>
<style>
    .select-recording {
        width: fit-content;
    }
    .btn-select-recording {
        height: 48px;
    }
</style>
