<div hx-ext="response-targets" class="recordings container-md">
  <script src="{{ url_for('static', path='/scripts/recordings-table.js') }}"></script>
  <h2>Local Recordings</h2>
  <hr>
  <span id="local-recordings-error-message" class="text-danger"></span>
  {% include "components/local-recordings.jinja" %}
  <h2>Recordings on Tobii Glasses</h2>
  <hr>
  {% include "components/glasses-recordings.jinja" %}
</div>
