<div class="recordings container-md">
  <h2>Local Recordings</h2>
  <hr>
  <div hx-get="/recordings/local"
       hx-trigger="load"
       hx-target="this"
       hx-swap="outerHTML"></div>
  <h2>Recordings on Tobii Glasses</h2>
  <hr>
  {% include "components/glasses-recordings.jinja" %}
  <script>
  $(document).ready(function() {
    registerRecordingsTable('#local-recordings-table');
  }); 
  $(document).ready(function() {
    registerRecordingsTable('#glasses-recordings-table');
  }); 
  </script>
</div>
