<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eyetracking</title>
    <!-- jQuery first -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <!-- Popper.js, required for Bootstrap popovers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.2.1/b-3.2.0/datatables.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.2.1/b-3.2.0/datatables.min.css"
          rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', path='/css/app.css') }}" rel="stylesheet">
  </head>
  <body class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
         style="width: 280px;
                min-height: 100vh">
      <a href="/"
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Sidebar</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/recordings"
             id="nav-browse"
             class="nav-link"
             aria-current="page"
             hx-get="/recordings"
             hx-trigger="click"
             hx-swap="innerHTML"
             hx-target="#main-content"
             hx-push-url="true">
            <i class="bi bi-search"></i>
            Browse Recordings
          </a>
        </li>
        <a href="/simrooms"
           id="nav-simrooms"
           class="nav-link"
           aria-current="page"
           hx-get="/simrooms"
           hx-trigger="click"
           hx-swap="innerHTML"
           hx-target="#main-content"
           hx-push-url="true">
          <i class="bi bi-bullseye"></i>
          Manage Sim Rooms
        </a>
      </li>
    </ul>
    <hr>
    {% include "components/connection-status.jinja" %}
  </div>
  <div id="main-content" class="flex-grow-1 p-3 mt-5">
    {% if content %}
      {% include content %}
    {% endif %}
  </div>
</body>
<script>
  function updateActiveNav() {
    // Remove active class from all nav links.
    document.querySelectorAll('.nav-link').forEach(link => link.classList.remove('active'));

    const navMap = {
      '/recordings': 'nav-browse',
      '/simrooms': 'nav-simrooms'
    };

    Object.entries(navMap).forEach(([path, id]) => {
      if (window.location.pathname.startsWith(path)) {
        document.getElementById(id).classList.add('active');
      }
    });
  }

  document.addEventListener("DOMContentLoaded", updateActiveNav);

  document.body.addEventListener('htmx:afterSwap', event => {
    // Listen for htmx swaps to update nav when the content changes.
    if (event.detail.target.id === 'main-content') {
      updateActiveNav();
    }
  });

  window.addEventListener('popstate', updateActiveNav);
</script>
</html>
