<div id="class-list"
     class="class-management d-flex flex-column"
     {% if selected_sim_room.id %}data-sim-room-id="{{ selected_sim_room.id }}"{% endif %}>
  <form hx-post="/simrooms/{{ selected_sim_room.id }}/classes/add"
        hx-target="#class-list"
        hx-target-4xx="#error-message"
        hx-target-5xx="#error-message"
        hx-on:click="clearError()"
        autocomplete="off">
    <div class="mb-3">
      <label for="class-name" class="form-label user-select-none">New Class Name:</label>
      <div class="d-flex gap-2">
        <input type="text"
               class="form-control"
               id="class-name"
               name="class_name"
               placeholder="Enter class name"
               required>
        <button type="submit" class="btn btn-primary btn-square">
          <svg xmlns="http://www.w3.org/2000/svg"
               height="24px"
               viewBox="0 -960 960 960"
               width="24px"
               fill="#e3e3e3">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
          </svg>
        </button>
      </div>
    </div>
  </form>
  <ul class="list-group class-list user-select-none">
    {% if selected_sim_room.classes|length == 0 %}
      <li class="list-group-item text-muted text-center">No classes defined</li>
    {% endif %}
    {% for class in selected_sim_room.classes %}
      <li class=" list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
          <div class="color-preview" style="background-color: {{ class.color }}"></div>
          <span class="class-name">{{ class.class_name }}</span>
        </div>
        <button class="btn btn-sm btn-danger"
                hx-confirm="Are you sure? This will delete all annotations linked to this class."
                hx-delete="/simrooms/{{ selected_sim_room.id }}/classes/{{ class.id }}"
                hx-target="#class-list"
                hx-target-400="#error-message"
                hx-target-404="#error-message"
                hx-target-500="#error-message">
          <i class="bi bi-trash-fill"></i>
        </button>
      </li>
    {% endfor %}
  </ul>
</div>
<style>
  .list-group {
    margin-top: 1.5rem;
  }
  .class-list .list-group-item {
    background-color: transparent;
    min-height: 3rem; /* Ensure consistent height */
    font-weight: 400; /* Fix font weight for consistency */
  }
  .class-list .list-group-item .class-name {
    flex-grow: 1;
  }
  .color-preview {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.2);
  }
  /* Make list take full height */
  .class-management {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .class-list {
    flex-grow: 1;
    overflow-y: auto;
  }
</style>
