<div id="glasses-recordings" class="table-responsive">
  <span id="glasses-recordings-error-message" class="text-danger"></span>
  {% if not glasses_connected %}
    <div id="connecting-to-glasses"
         hx-get="/glasses/recordings"
         hx-trigger="load"
         hx-target="#glasses-recordings"
         hx-target-503="#connecting-to-glasses"
         hx-swap="outerHTML"
         class="d-flex align-items-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <span class="ms-2">Connecting to Tobii Glasses...</span>
    </div>
  {% else %}
    {% if glasses_recordings|length == 0 %}
      <p class="htmx-request-hide" id="no-glasses-recordings">There are currently no recordings on Tobii Glasses.</p>
      <button class="btn btn-primary"
              hx-get="/glasses/recordings"
              hx-trigger="click"
              hx-target="#glasses-recordings"
              hx-target-503="#glasses-recordings"
              hx-indicator="#retry-spinner, #no-glasses-recordings"
              hx-disabled-elt="this">
        <div id="retry-spinner"
             class="spinner spinner-border spinner-border-sm"
             role="status"></div>
        Refresh Recordings
      </button>
    {% else %}
      <table class="table w-100 datatable" id="glasses-recordings-table">
        <thead>
          <tr>
            <th scope="col">Participant Name</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Duration</th>
            <th width="10%" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for recording in glasses_recordings %}
            <tr>
              <td>{{ recording.participant }}</td>
              <td>{{ recording.created }}</td>
              <td>{{ recording.duration }}</td>
              <td class="text-center">
                <button class="btn btn-primary pt-1 px-2"
                        hx-trigger="click"
                        hx-get="/glasses/recordings/{{ recording.uuid }}/download"
                        hx-indicator="find .spinner, find .bi"
                        hx-target="#local-recordings"
                        hx-target-4xx="#glasses-recordings-error-message"
                        hx-target-500="#glasses-recordings-error-message"
                        hx-target-503="#glasses-recordings"
                        hx-disabled-elt="this"
                        hx-on::before-request="document.getElementById('glasses-recordings-error-message').innerHTML = ''">
                  <i class="bi bi-download htmx-request-hide"></i>
                  <div class="spinner spinner-border spinner-border-sm" role="status"></div>
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
  <script>
  $(document).ready(function() {
    registerRecordingsTable('#glasses-recordings-table');
  }); 
  </script>
</div>
