<script src="{{ url_for('static', path='/scripts/recordings-table.js') }}"></script>
<div id="local-recordings">
  <span id="local-recordings-error" class="text-danger"></span>
  {% if recordings|length > 0 %}
    <table class="table w-100" id="local-recordings-table">
      <thead>
        <tr>
          <th scope="col">Participant Name</th>
          <th scope="col">Date and Time</th>
          <th scope="col">Duration</th>
          <th width="10%" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for recording in recordings %}
          <tr>
            <td>{{ recording.participant }}</td>
            <td>{{ recording.formatted_created }}</td>
            <td>{{ recording.formatted_duration }}</td>
            <td class="text-center">
              <button class="btn btn-danger pt-1 px-2"
                      hx-trigger="click"
                      hx-delete="/recordings/local/{{ recording.uuid }}"
                      hx-indicator="find .spinner, find .bi"
                      hx-target="#local-recordings"
                      hx-target-500="#error-message"
                      hx-disabled-elt="this"
                      hx-on:click="clearError('#local-recordings-error')">
                <i class="bi bi-trash-fill htmx-request-hide"></i>
                <div class="spinner spinner-border spinner-border-sm" role="status"></div>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-info mb-4">
      <h4 class="alert-heading fs-5 fw-bold mb-3">No Local Recordings</h4>
      <p>
        There are currently no local recordings.
        <br>
        Import recordings from Tobii Glasses using the table below to view them here.
      </p>
    </div>
  {% endif %}
  <script>
  $(document).ready(function() {
    registerRecordingsTable('#local-recordings-table');
  }); 
  </script>
</div>
