.spinner {
  display: none;
}

.htmx-request .spinner {
  display: inline-block;
}

.htmx-request.spinner {
  display: inline-block;
}

.htmx-request .htmx-request-hide {
  display: none;
}

.htmx-request.htmx-request-hide {
  display: none;
}

/* TODO: unify these two */
select[aria-controls="glasses-recordings-table"] {
  margin-right: 8px;
}

select[aria-controls="local-recordings-table"] {
  margin-right: 8px;
}

#error {
  display: none;
  padding: 10px;
}

#error:empty {
  display: none !important;
}

#error:not(:empty) {
  display: block !important;
}