.spinner {
  display: none;
}

.htmx-request .spinner {
  display: inline-block;
}

.htmx-request.spinner {
  display: inline-block;
}

.htmx-request .htmx-request-hide {
  display: none;
}

.htmx-request.htmx-request-hide {
  display: none;
}

/* TODO: unify these two */
select[aria-controls="glasses-recordings-table"] {
  margin-right: 8px;
}

select[aria-controls="local-recordings-table"] {
  margin-right: 8px;
}

#error {
  display: none;
  padding: 10px;
}

.alert-danger:empty {
  display: none !important;
}

.alert-danger:not(:empty) {
  display: block !important;
}

.btn-square {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
}